<div class="flex items-center justify-center w-full bg-white">
    <div class="flex items-center w-full max-w-screen-xl p-3 px-0">
        <div class="flex items-center">
            <img
                role="button"
                routerLink="/"
                class="object-contain h-[50px] mx-2 rounded-full"
                src="/assets/app/logo.jpg"
                alt=""
            />
        </div>

        <ul class="flex items-center ml-auto">
            <li
                [ngClass]="{
                    'pointer-events-none text-white bg-brand-green':
                        currentNav === nav,
                    'hover:bg-black/40 hover:text-white': currentNav !== nav
                }"
                (click)="currentNav = nav"
                role="button"
                [routerLink]="nav.link"
                class="px-5 py-2 mx-2 rounded-md font-extralight"
                *ngFor="let nav of NAVBAR_NAVIGATION; trackBy: trackByFn"
            >
                {{ nav.title }}
            </li>
        </ul>
    </div>
</div>
