<div class="flex flex-col w-full">
    <route-header
        pageTitle="Appointments"
        subtitle="You can see the list of all appointments here"
        icon="feather:calendar"
        class="w-full"
    ></route-header>
    <div class="flex items-center w-full p-3 bg-white"></div>

    <div class="flex items-center w-full p-3 bg-white">
        <button
            (click)="currentRHU = item"
            [ngClass]="{
                'bg-black text-white pointer-events-none': currentRHU === item,
                'text-gray-500 md:hover:bg-gray-50': currentRHU !== item
            }"
            class="px-5 py-2 mr-3 active:opacity-25"
            *ngFor="let item of RHU"
        >
            {{ item }}
        </button>

        <mat-form-field
            class="mb-0 ml-auto translate-y-2 min-w-64"
            appearance="fill"
        >
            <mat-select placeholder="Type of Service">
                <mat-option>All</mat-option>
                <mat-option *ngFor="let item of SERVICES">{{
                    item
                }}</mat-option>
            </mat-select>

            <mat-icon matSuffix svgIcon="feather:chevron-down"></mat-icon>
        </mat-form-field>

        <mat-form-field
            class="mx-3 mb-0 translate-y-2 min-w-64"
            appearance="fill"
        >
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" />
                <input matEndDate placeholder="End date" />
            </mat-date-range-input>

            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button
            (click)="addAppointmentModalOpened$.next(true)"
            class="flex items-center px-5 py-3 mx-3 text-white rounded-sm bg-emerald-500"
        >
            <mat-icon class="mr-3 text-white" svgIcon="feather:plus"></mat-icon>

            Walk-in
        </button>
    </div>

    <appointment-list [appointments]="appointments$ | async" />
</div>
