<div *ngIf="patient$ | async as patient" class="flex flex-col w-full">
    <route-header
        [pageTitle]="patient | to_full_name"
        subtitle="Here is the data of {{ patient.first_name }}"
        icon="heroicons_outline:user-group"
        class="w-full"
    ></route-header>

    <div class="grid grid-cols-3 gap-10 p-5 bg-white border-y">
        <div>
            <div class="text-gray-500">Middle name</div>
            <div class="font-bold">{{ patient.middle_name }}</div>
        </div>

        <div>
            <div class="text-gray-500">Suffix</div>
            <div class="font-bold">{{ patient.suffix_name ?? 'N/A' }}</div>
        </div>

        <div>
            <div class="text-gray-500">Sex</div>
            <div class="font-bold">{{ patient.sex }}</div>
        </div>

        <div>
            <div class="text-gray-500">DOB</div>
            <div class="font-bold">
                {{ patient.dob | date : 'MMMM dd YYYY' }}
            </div>
        </div>

        <div>
            <div class="text-gray-500">Age</div>
            <div class="font-bold">{{ patient.dob | age }}</div>
        </div>

        <div>
            <div class="text-gray-500">Email</div>
            <div class="font-bold">{{ patient.email }}</div>
        </div>

        <div>
            <div class="text-gray-500">Phone</div>
            <div class="font-bold">{{ patient.phone }}</div>
        </div>
    </div>

    <div class="px-5 py-2 text-xl font-bold bg-white">
        {{ patient.first_name }}'s Appointments
    </div>

    <appointment-list
        [isInPatientDetails]="true"
        [appointments]="patient.appointments"
    />
</div>
