<div class="flex flex-col w-full">
    <route-header
        pageTitle="John Doe"
        subtitle="Here is the data of John Doe"
        icon="heroicons_outline:user-group"
        class="w-full"
    ></route-header>

    <div class="grid grid-cols-3 gap-10 p-5 bg-white border-y">
        <div>
            <div class="text-gray-500">First name</div>
            <div class="font-bold">John</div>
        </div>

        <div>
            <div class="text-gray-500">Last name</div>
            <div class="font-bold">Garner</div>
        </div>

        <div>
            <div class="text-gray-500">Middle name</div>
            <div class="font-bold">John</div>
        </div>

        <div>
            <div class="text-gray-500">Suffix</div>
            <div class="font-bold">Jr</div>
        </div>

        <div>
            <div class="text-gray-500">Sex</div>
            <div class="font-bold">Male</div>
        </div>

        <div>
            <div class="text-gray-500">DOB</div>
            <div class="font-bold">11/14/1994</div>
        </div>

        <div>
            <div class="text-gray-500">Age</div>
            <div class="font-bold">28</div>
        </div>

        <div>
            <div class="text-gray-500">Email</div>
            <div class="font-bold">john@company.ph</div>
        </div>

        <div>
            <div class="text-gray-500">Phone</div>
            <div class="font-bold">09192334324</div>
        </div>
    </div>

    <div class="px-5 py-2 text-xl font-bold bg-white">John's Appointments</div>
    <appointment-list></appointment-list>
</div>
