<div class="w-full">
    <div
        *ngIf="['success', 'info', 'error'].includes(alert.type)"
        style="width: 350px"
        [ngClass]="{
            'alert-wrapper': true,
            'text-emerald-400': alert.type === 'success',
            'text-sky-400': alert.type === 'info',
            'text-red-400': alert.type === 'error'
        }"
        [@slideInBottom]
        [@slideOutRight]
    >
        <mat-icon
            [ngClass]="{
                'text-emerald-400': alert.type === 'success',
                'text-sky-400': alert.type === 'info',
                'text-red-400': alert.type === 'error'
            }"
            svgIcon="error"
        ></mat-icon>

        <div class="w-full ml-4">
            <div
                class="flex items-center mb-1 text-lg font-extrabold"
                [ngClass]="{
                    'text-emerald-400': alert.type === 'success',
                    'text-sky-400': alert.type === 'info',
                    'text-red-400': alert.type === 'error'
                }"
            >
                {{ alert.title | titlecase }}

                <mat-icon
                    class="ml-auto text-white icon-size-4"
                    svgIcon="feather:x"
                ></mat-icon>
            </div>
            <div class="description">
                {{ alert.message }}
            </div>
        </div>
    </div>
</div>
