<add-appointment-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="addAppointmentModalOpened$ | async"
    (click)="addAppointmentModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<update-assessment-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="updateAssessmentModalOpened$ | async"
    (click)="updateAssessmentModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<update-diagnosis-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="updateDiagnosisModalOpened$ | async"
    (click)="updateDiagnosisModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<view-appointment-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="viewAppointmentModalOpened$ | async"
    (click)="viewAppointmentModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<reschedule-appointment-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="rescheduleAppointmentModalOpened$ | async"
    (click)="rescheduleAppointmentModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<rhu-user-add-modal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="RHUUserAddModalOpened$ | async"
    (click)="RHUUserAddModalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<printable-medico-legal
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="printableMedicoLegalOpened$ | async"
    (click)="printableMedicoLegalOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<printable-medical-receit
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="printableMedicalReceitOpened$ | async"
    (click)="printableMedicalReceitOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>

<printable-medical-certificate
    @fadeOut
    stopPropagation
    class="fixed flex w-screen h-screen"
    *ngIf="printableMedicalCertificateOpened$ | async"
    (click)="printableMedicalCertificateOpened$.next(false)"
    style="z-index: 999; background: rgba(0, 0, 0, 0.7)"
/>
