<div
    class="flex flex-col items-center justify-center py-20 min-h-[100vh] px-6 bg-gray-100"
>
    <div class="text-4xl font-black text-center" id="appointment">
        Dedicated Health Professionals Happy to Serve You
    </div>

    <div class="text-lg font-light text-center text-gray-500">
        Putting Your Health and Comfort First with Top-Quality Care and
        Attention to Detail!
    </div>

    <div
        class="grid w-full max-w-screen-lg mx-auto mt-10 font-light md:grid-cols-3 gap-x-15"
    >
        <div
            *ngFor="let service of SERVICES; trackBy: trackByFn"
            class="flex flex-col justify-center w-full p-5 bg-white rounded-md mb-15"
        >
            <div class="mb-4 text-3xl font-black">
                {{ service }}
            </div>

            <div class="text-lg font-light text-gray-500">
                To apply for {{ item }}, click the button bellow.
            </div>

            <div class="flex mt-4 ml-auto">
                <button
                    (click)="bookAppointment(service)"
                    class="px-5 py-3 ml-auto text-white bg-black"
                >
                    Book an Appointment
                </button>
            </div>
        </div>
    </div>
</div>
