<div
    @slideInRight
    stopPropagation
    *ngIf="opened$ | async"
    style="min-width: 400px"
    class="relative z-10 w-full ml-auto bg-white md:w-1/4"
>
    <modal-header [modalTitle]="'Diagnosis'" (onClose)="opened$.next(false)">
    </modal-header>

    <form
        [formGroup]="form"
        style="height: 90vh"
        class="flex flex-col p-5 overflow-x-hidden overflow-y-auto bg-white"
    >
        <mat-form-field appearance="fill">
            <mat-label>Diagnosis</mat-label>
            <textarea matInput formControlName="diagnosis"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Medication or Treatment</mat-label>
            <textarea
                matInput
                formControlName="medication_or_treatment"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name of Health Care Provider</mat-label>
            <textarea
                matInput
                formControlName="name_of_health_care_provider"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Laboratory Findings or Impression</mat-label>
            <textarea
                matInput
                formControlName="laboratory_findings_or_impression"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Performed Laboratory Test</mat-label>
            <textarea
                matInput
                formControlName="performed_laboratory_test"
            ></textarea>
        </mat-form-field>

        <button
            matRipple
            primaryButton
            (click)="save()"
            type="button"
            [loader]="loader.createLoader"
            *ngIf="loader$ | async as loader"
            matRippleColor="rgba(250, 250, 250,.3)"
            class="py-4 mt-4 bg-black rounded-full"
        >
            <button-title
                [loader]="loader.createLoader"
                [buttons]="[
                    'Update Diagnosis',
                    'processing...',
                    'processing failed',
                    'Success'
                ]"
            />
        </button>
    </form>
</div>
