<div class="flex flex-col w-full">
    <route-header
        pageTitle="Dashboard"
        subtitle="You can see the summary of RHU here"
        icon="dashboard"
        class="w-full"
    ></route-header>

    <div
        *ngIf="analytics$ | async as analytics"
        class="grid w-full min-w-0 grid-cols-1 gap-6 px-5 py-5 sm:grid-cols-2 md:grid-cols-3"
    >
        <div class="card">
            <div class="card-wrapper">
                <div class="card-value text-sky-500">
                    {{ analytics.totalPatients ?? 0 | number }}
                </div>

                <div class="card-title">Total Patients</div>
            </div>
        </div>

        <div class="card">
            <div class="card-wrapper">
                <div class="card-value text-sky-500">
                    {{ analytics.totalAppointments ?? 0 | number }}
                </div>

                <div class="card-title">Total Appointments</div>
            </div>
        </div>

        <div class="card">
            <div class="card-wrapper">
                <div class="card-value text-sky-500">
                    {{ analytics.appointmentsToday ?? 0 | number }}
                </div>

                <div class="card-title">Appointment's today</div>
            </div>
        </div>

        <div class="card">
            <div class="card-wrapper">
                <div class="card-value text-sky-500">
                    {{ analytics.diagnosisToday ?? 0 | number }}
                </div>

                <div class="card-title">Diagnosis today</div>
            </div>
        </div>

        <div class="card">
            <div class="card-wrapper">
                <div class="card-value text-sky-500">
                    {{ analytics.totalDiagnosis ?? 0 | number }}
                </div>

                <div class="card-title">Total Diagnosis</div>
            </div>
        </div>
    </div>

    <appointment-list [appointments]="appointments$ | async" />
</div>
