<form class="w-full" *ngIf="form && name" [formGroup]="form">
    <ion-item
        stopPropagation
        fill="solid"
        class="border rounded-md border-zinc-300"
    >
        <img
            alt="Flag"
            stopPropagation
            matPrefix
            role="button"
            style="transform: scaleY(1.2)"
            (click)="phoneCountryCode.open()"
            [src]="countryISO | to_flag"
            class="object-contain w-8 pr-2 mr-3 scale-125 border-r rounded-sm pointer-events-none border-zinc-300"
        />

        <ion-select
            cha
            class="invisible w-1 h-1"
            placeholder="Select Country"
            #phoneCountryCode
            placeholder="Select fruit"
        >
            <ion-select-option
                [value]="country.name"
                *ngFor="let country of COUNTRIES; trackBy: trackByFn"
            >
                {{ country.name }}
            </ion-select-option>
        </ion-select>

        <ion-input
            type="tel"
            [formControlName]="name"
            [placeholder]="placeholder"
        ></ion-input>
    </ion-item>

    <!-- <ion-note slot="error">Phone is required.</ion-note> -->
</form>
