<div
    @slideInRight
    stopPropagation
    *ngIf="opened$ | async"
    style="min-width: 400px"
    class="relative z-10 w-full ml-auto bg-white md:w-1/4"
>
    <modal-header
        [modalTitle]="'Book an Appointment'"
        (onClose)="opened$.next(false)"
    >
    </modal-header>

    <form
        style="height: 90vh"
        class="flex flex-col p-5 overflow-x-hidden overflow-y-auto bg-white"
    >
        <mat-form-field appearance="fill">
            <mat-label> Select Rural Health Unit </mat-label>

            <mat-select>
                <mat-option [value]="item" *ngFor="let item of RHU">{{
                    item
                }}</mat-option>
            </mat-select>

            <mat-icon matSuffix svgIcon="feather:chevron-down"></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Select Appointment Type </mat-label>

            <mat-select>
                <mat-option
                    [value]="item"
                    *ngFor="let item of APPOINTMENT_TYPES"
                    >{{ item }}</mat-option
                >
            </mat-select>

            <mat-icon matSuffix svgIcon="feather:chevron-down"></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nature of Visit </mat-label>

            <mat-select>
                <mat-option
                    [value]="item"
                    *ngFor="let item of APPOINTMENT_NATURES"
                    >{{ item }}</mat-option
                >
            </mat-select>

            <mat-icon matSuffix svgIcon="feather:chevron-down"></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Symptoms</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label
                >Email
                <span class="text-xs"
                    >(Don't use another person email as it will be linked to
                    their identity)</span
                ></mat-label
            >
            <input matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Suffix</mat-label>
            <input matInput />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input
                matInput
                [matDatepicker]="dobPicker"
                placeholder="Choose a date"
                [(ngModel)]="selectedDate"
                name="selectedDate"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sex </mat-label>

            <mat-select>
                <mat-option [value]="item" *ngFor="let item of SEX">{{
                    item
                }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Residential Address</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <ng-container>
            <mat-form-field appearance="fill">
                <mat-label>Incident</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Time of Incident</mat-label>
                <input matInput type="time" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Date of Incident</mat-label>
                <input
                    matInput
                    [matDatepicker]="incidencePicker"
                    placeholder="Choose a date"
                    [(ngModel)]="selectedDate"
                    name="selectedDate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="incidencePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #incidencePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Place of Incident</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </ng-container>

        <mat-form-field>
            <mat-label>Preferred Appointment Date</mat-label>
            <input
                matInput
                [matDatepicker]="preferredAppointmentDatePicker"
                placeholder="Choose a date"
                [(ngModel)]="selectedDate"
                name="selectedDate"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="preferredAppointmentDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #preferredAppointmentDatePicker></mat-datepicker>
        </mat-form-field>

        <button class="py-4 mt-4 text-white bg-black rounded-full">
            Book an Appointment
        </button>
    </form>
</div>
