<div class="flex flex-col w-full">
    <route-header
        pageTitle="Patients"
        subtitle="You can see the list of all patients here"
        icon="heroicons_outline:user-group"
        class="w-full"
    ></route-header>

    <div class="flex items-center w-full p-3 bg-white">
        <button
            (click)="currentRHU = item"
            [ngClass]="{
                'bg-black text-white pointer-events-none': currentRHU === item,
                'text-gray-500 md:hover:bg-gray-50': currentRHU !== item
            }"
            class="px-5 py-2 mr-3 active:opacity-25"
            *ngFor="let item of RHU"
        >
            {{ item }}
        </button>
    </div>

    <patient-list></patient-list>
</div>
