<div class="flex flex-col w-full">
    <route-header
        pageTitle="Patients"
        subtitle="You can see the list of all patients here"
        icon="heroicons_outline:user-group"
        class="w-full"
    ></route-header>

    <div class="flex items-center w-full p-3 bg-white">
        <div class="ml-auto">
            <mat-form-field class="w-[320px] mr-5">
                <mat-icon class="mr-3" svgIcon="feather:search"></mat-icon>

                <input matInput placeholder="Search" [(ngModel)]="keyword" />

                <button
                    matSuffix
                    mat-icon-button
                    *ngIf="keyword"
                    (click)="keyword = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <patient-list
        [patients]="patients$ | async | filter_patients_by_name : keyword"
    />
</div>
