<div class="flex items-center justify-center">
    <div
        class="grid w-full max-w-screen-lg px-6 mx-auto mt-10 lg:grid-cols-2 gap-x-15"
    >
        <div>
            <img class="h-[40vh]" src="/assets/app/bg1.jpeg" alt="" />
        </div>

        <div>
            <div class="mb-3 text-3xl font-black">Santa Barbara RHU 🇵🇭</div>

            <div class="font-light text-gray-500 max-w-[80%]">
                Santa Barbara Rural Health Unit is a local government unit owned
                health center located in Santa Barbara, Iloilo. it has two Rural
                Health Units (one in the Poblaction and one in the barangay)
            </div>
        </div>
    </div>
</div>
