<div class="flex items-center justify-center">
    <div class="grid w-full max-w-screen-lg grid-cols-2 mx-auto mt-10 gap-x-15">
        <div>
            <img class="h-[40vh]" src="/assets/app/bg1.jpeg" alt="" />
        </div>

        <div>
            <div class="mb-3 text-3xl font-black">Santa Barbara RHU 🇵🇭</div>

            <div class="font-light text-gray-500 max-w-[80%]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque in asperiores tempora natus consequuntur consequatur
                explicabo doloribus porro impedit ab, eaque sunt, error eveniet
                rerum. Dicta saepe ducimus aperiam error!
            </div>
        </div>
    </div>
</div>

<!-- <div class="flex flex-col items-center justify-center mb-20">
    <div
        data-aos="fade-up"
        data-aos-duration="450"
        class="grid w-full max-w-screen-lg mx-auto md:grid-cols-4 gap-x-10"
    >
        <div class="w-full h-[50vh]">
            <img
                class="object-cover w-full h-full"
                src="/assets/app/1.jpeg"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="/assets/app/2.jpeg"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="/assets/app/3.jpeg"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="/assets/app/4.jpeg"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="/assets/app/5.jpeg"
                alt=""
            />
        </div>

        <div class="w-full h-[50vh] grid gap-5">
            <img
                class="object-cover w-full h-full"
                src="/assets/app/6.jpeg"
                alt=""
            />

            <img
                class="object-cover w-full h-full"
                src="/assets/app/7.jpeg"
                alt=""
            />
        </div>
    </div>
</div> -->
