<div class="flex items-center p-5 bg-black">
    <ul
        class="flex items-center justify-center w-full ml-5 text-white lg:smt-10 md:mt-0"
    >
        <div class="flex items-center">
            <img
                role="button"
                routerLink="/"
                class="object-contain h-[80px] mx-2 rounded-full"
                src="/assets/app/logo.jpg"
                alt=""
            />
        </div>

        <div class="hidden ml-10 mr-auto text-2xl md:block">
            Santa Barbara RHU 🇵🇭
        </div>

        <!-- <li class="mx-2 ml-auto">
            <button matTooltip="Instagram" class="rounded-full" mat-icon-button>
                <mat-icon
                    style="color: white !important; fill: white !important"
                    svgIcon="feather:instagram"
                ></mat-icon>
            </button>
        </li>

        <li class="mx-2">
            <button matTooltip="Facebook" class="rounded-full" mat-icon-button>
                <i class="text-3xl bi bi-facebook"></i>
            </button>
        </li>

        <li class="mx-2">
            <button matTooltip="WhatsApp" class="rounded-full" mat-icon-button>
                <i class="text-3xl bi bi-whatsapp"></i>
            </button>
        </li>

        <li class="mx-2">
            <button matTooltip="Youtube" class="rounded-full" mat-icon-button>
                <i class="text-3xl bi bi-youtube"></i>
            </button>
        </li> -->
    </ul>
</div>
