<div
    class="flex items-center justify-center px-6 py-20 mt-20 bg-black border-y border-y-gray-200"
>
    <div class="grid max-w-screen-lg mx-auto mt-10 text-white md:grid-cols-2">
        <div>
            <div class="mb-4 text-4xl font-black text-center text-brand-yellow">
                Vision
            </div>

            <div class="mb-8 text-lg font-light text-center">
                A municipality with a progressive economy, healthy community,
                balanced environment, productive and God-centered people,
                complimented by a rich heritage and strengthened by proactive
                and dependable local government.
            </div>
        </div>

        <div>
            <div class="mb-4 text-4xl font-black text-center text-brand-yellow">
                Mission
            </div>

            <div class="mb-8 text-lg font-light text-center">
                A community that optimizes its natural resources and heritage as
                vital components for progress and development supported by
                skilled, responsible and creative people for a healthy
                competitive global environment
            </div>
        </div>
    </div>
</div>
