<div
    class="flex flex-col items-center justify-center px-6 py-20 bg-brand-green"
>
    <div class="text-4xl font-black text-center text-white">
        Doctor's Schedule: Plan Your Appointments with Ease
    </div>

    <div class="text-lg font-light text-center text-white/60">
        Stay Informed and Organized with Our Comprehensive Doctor's Appointment
        Schedule
    </div>

    <div class="grid mt-8 md:grid-cols-2 gap-x-20">
        <div class="p-4 bg-white rounded-lg">
            <div class="text-2xl font-bold">General Admission</div>
            <div>Everyday</div>
            <div class="text-black/50">8:00 AM - 5:00 PM</div>
        </div>

        <div class="p-4 bg-white rounded-lg">
            <div class="text-2xl font-bold">Dental</div>
            <div>Tuesday & Friday only</div>
            <div class="text-black/50">8:00 AM - 5:00 PM</div>
        </div>
    </div>
</div>
